body {
  margin: 0;
  padding: 0;
  
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.jumbotron h1 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 0% 15% 50px 15%;
}

.landingMainFilter {
  text-align: left;
}

.landingMainFilter p {
  margin: 0;
}

nav {
  color: #A0A0A0;
}

.geosuggest {
  width: 100%;
  margin: 0;
}
.geosuggest__item {
  font-size: 14px;
}

.geosuggest__suggests {
  border: 1px solid #66afe9;
  border-top-width: 0;
  margin-top: -3px;
}

.landingMainLocation {
  width: 25%;
}

.geosuggest__suggests--hidden {
  visibility: hidden;
}

.offerItem {
  background-color: #ECF3FF;
  padding: 30px 20px 30px 20px;
  margin: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.offerItem h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.offerItem .form-group {
  margin-bottom: 0px;
}

.offerItem p {
  margin-bottom: 20px;
}

.offerLabel {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
}

.offerLabel.bigger {
  font-size: 16px;
  font-weight: normal;
}

.nav {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.offerIcon {
  margin-right: 15px;
}

.valign-relative {
  position: relative;
}

.valign-absolute-middle {
  position: absolute;
  right: 0;
  top: calc(50% - 14px)
}

.offerEditPanel {
  margin-top: 20px;
}

.dropdown-menu {
  min-width: 180px;
}